@font-face {
  font-family: 'btui'; /* project id 178281 */
  src: url('//at.alicdn.com/t/font_178281_db0su76jr4r.eot');
  src: url('//at.alicdn.com/t/font_178281_db0su76jr4r.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_178281_db0su76jr4r.woff') format('woff'),
    url('//at.alicdn.com/t/font_178281_db0su76jr4r.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_178281_db0su76jr4r.svg#btui') format('svg');
}

.icon,
[class*='icon-'] {
  font-family: 'btui';
  font-size: inherit;
  font-style: normal;
}
