@font-face {
  font-family: 'btui'; /* project id 178281 */
  src: url('//at.alicdn.com/t/font_178281_spldbdex61g.eot');
  src: url('//at.alicdn.com/t/font_178281_spldbdex61g.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_178281_spldbdex61g.woff') format('woff'),
    url('//at.alicdn.com/t/font_178281_spldbdex61g.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_178281_spldbdex61g.svg#btui') format('svg');
}
.icon,
[class*='icon-'] {
  font-family: 'btui';
  font-size: inherit;
  font-style: normal;
}
